<div class="topbar-revolution">

<div class="navbar">
  <div class="layer1">
    <a class="active1" routerLink="/whiteboards" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home</a> 
     <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>
  </div>
  <div class="layer2">
      <div class="">
        <label class="time">{{ now | date:'MMM d, y h:mm:ss'}}</label>
  
      </div>
      <div>
          <!-- <form _ngcontent-c3="" class="navbar-form">
              <div _ngcontent-c3="" class="input-group no-border">
                  <input _ngcontent-c3="" class="form-control" placeholder="Search..." type="text" value="">
                  <button _ngcontent-c3="" class="btn btn-white btn-round btn-just-icon" mat-raised-button="" type="submit"><i class="fa fa-search" aria-hidden="true" title='Search'></i><div _ngcontent-c3="" class="ripple-container"></div>
                  </button>
              </div>
          </form> -->
          <a><i class="fa fa-search" aria-hidden="true" title='Search'></i></a>
      <a><i class="fa fa-clock-o" aria-hidden="true"></i></a>
      <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a><i class="fa fa-question-circle" aria-hidden="true"></i></a>
      <a><i class="fa fa-comment" aria-hidden="true"></i></a>
      <a><i class="fa fa-cog" aria-hidden="true"></i></a>
      <a><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <div>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
      </div>
      <a><i class="fa fa-search" aria-hidden="true" title='Search'></i></a>
      <a><i class="fa fa-clock-o" aria-hidden="true"></i></a>
      <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a><i class="fa fa-question-circle" aria-hidden="true"></i></a>
      <a><i class="fa fa-comment" aria-hidden="true"></i></a>
      <a><i class="fa fa-cog" aria-hidden="true"></i></a>
      <a><i class="fa fa-user" aria-hidden="true"></i></a>
      
    </div>
  </nav> -->
<!-- <div class="navbar ">
    <div class="layer1">
        <a class="active1" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        
      </div>
      <div class="layer2">  
          <a><i class="fa fa-search" aria-hidden="true" title='Search'></i></a>
          <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <a><i class="fa fa-question-circle" aria-hidden="true"></i></a>
          <a><i class="fa fa-user" aria-hidden="true"></i></a>
      </div>
    </div> -->
    <!-- <div class="navbar">
        <div>
          <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
          <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
          </div>
          <div class="layer1">
              <div class="time">{{ now | date:'MMM d, y h:mm:ss'}}</div>
              <input class="search_input" type="text" name="" placeholder="Search...">
              <a><i class="fa fa-search" aria-hidden="true" title='Search'></i></a>
          </div>
          <div class="layer2">
              
              <a><i class="fa fa-clock-o" aria-hidden="true"></i></a>
              <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a><i class="fa fa-question-circle" aria-hidden="true"></i></a>
              <a><i class="fa fa-comment" aria-hidden="true"></i></a>
              <a><i class="fa fa-cog" aria-hidden="true"></i></a>
              <a><i class="fa fa-user" aria-hidden="true"></i></a>
          </div>
        </div> -->
    