
<div class="drag-whitebord">
    <div class="status-container ng-star-inserted"><div class="110 column-title card" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"><div class="overflow-ellipsis" style="flex: 1 0 0">Cancelled</div><!----><div class="ng-star-inserted">0</div><!----></div><div cdkdroplist="" class="entries-container cdk-drop-list" id="110"><!----><div class="entry-placeholder entry-placeholder-grid ng-star-inserted"><i class="fa fa-plus fa-3x addIcon" id="addIcon110"></i></div><!----></div></div>
  <!-- <div cdkdroplistgroup="" id="scroll-container" class="grid-container">
  
  <div class="status-container ng-star-inserted">
    <div class="110 column-title card" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
      <div class="overflow-ellipsis" style="flex: 1 0 0">Cancelled</div>
      <div class="ng-star-inserted">0</div></div>
      <div cdkdroplist="" class="entries-container cdk-drop-list" id="110">
        <div class="entry-placeholder entry-placeholder-grid ng-star-inserted">
          <i class="fa fa-plus fa-3x addIcon" id="addIcon110"></i></div></div></div>
          <div class="status-container ng-star-inserted">
            <div class="101 column-title card" style="color: rgb(250, 250, 247); background-color: rgb(20, 171, 252);">
              <div class="overflow-ellipsis" style="flex: 1 0 0">Scheduled</div>
              <div class="ng-star-inserted">0</div></div>
              <div cdkdroplist="" class="entries-container cdk-drop-list" id="101">
                <div class="entry-placeholder entry-placeholder-grid ng-star-inserted">
                  <i class="fa fa-plus fa-3x addIcon" id="addIcon101"></i></div></div></div>
                  <div class="status-container ng-star-inserted">
                    <div class="111 column-title card" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                      <div class="overflow-ellipsis" style="flex: 1 0 0">CheckedIn</div>
                      <div class="ng-star-inserted">0</div></div>
                      <div cdkdroplist="" class="entries-container cdk-drop-list" id="111">
                        <div class="entry-placeholder entry-placeholder-grid ng-star-inserted">
                          <i class="fa fa-plus fa-3x addIcon" id="addIcon111"></i></div></div></div>
                          <div class="status-container ng-star-inserted">
                            <div class="113 column-title card" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                              <div class="overflow-ellipsis" style="flex: 1 0 0">InProgress</div>
                              <div class="ng-star-inserted">0</div></div>
                              <div cdkdroplist="" class="entries-container cdk-drop-list" id="113">
                                <div class="entry-placeholder entry-placeholder-grid ng-star-inserted">
                                  <i class="fa fa-plus fa-3x addIcon" id="addIcon113"></i></div></div></div>
                                  <div class="status-container ng-star-inserted">
                                    <div class="112 column-title card" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                                      <div class="overflow-ellipsis" style="flex: 1 0 0">WorkFinalised</div> 
                                      <div class="ng-star-inserted">0</div> </div>
                                      <div cdkdroplist="" class="entries-container cdk-drop-list" id="112"> 
                                        <div class="entry-placeholder entry-placeholder-grid ng-star-inserted">
                                          <i class="fa fa-plus fa-3x addIcon" id="addIcon112"></i></div> </div></div>
                                           <div class="status-container ng-star-inserted">
                                            <div class="114 column-title card" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                                              <div class="overflow-ellipsis" style="flex: 1 0 0">Completed</div> 
                                              <div class="ng-star-inserted">0</div> </div>
                                              <div cdkdroplist="" class="entries-container cdk-drop-list" id="114"> 
                                                <div class="entry-placeholder entry-placeholder-grid ng-star-inserted">
                                                  <i class="fa fa-plus fa-3x addIcon" id="addIcon114"></i></div>
                                                </div>
                                              </div>
                                            </div> -->

                                          </div>